@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #800000;
  --color-secondary: #008080;
  --color-tertiary: #00FFFF;
  --tw-ring-color: #800000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --color-primary: #800000;
    --color-secondary: #008080;
    --color-tertiary: #00FFFF;
    --tw-ring-color: #800000;
  }
}
* {
  @apply transition-all duration-200
}
body {
  @apply centered-2xl
}

.centered {
  @apply inner-centered layout-space-x
}
.inner-centered {
  @apply max-w-screen-xl mx-auto
}
.centered-2xl {
  @apply max-w-screen-2xl mx-auto
}
.layout-space-x {
  @apply px-8
}
.layout-full {
  @apply -mx-8
}
section {
  @apply py-16 layout-space-x
}
section.dual-background {
  @apply bg-gray-200 lg:bg-transparent before:rounded-s-lg relative before:lg:content-[''] before:lg:absolute before:lg:top-0 before:lg:right-0 before:lg:w-1/2 before:lg:h-full before:lg:bg-tertiary
}
section .grid {
  @apply mb-0
}
.input-form {
  @apply block py-1 px-2 w-full rounded-md cursor-pointer ring-slate-100 border border-gray-200
}
.datepicker div {
  @apply w-full z-20
}
.datepickerInput::placeholder {
  @apply text-black text-sm
}
.datepickerInput {
  @apply p-2 w-full rounded-md cursor-pointer ring-slate-100 border border-gray-200 relative
}

/*input[type="date"]::-webkit-calendar-picker-indicator {
  @apply bg-transparent bottom-0 text-transparent cursor-pointer h-auto left-0 right-0 top-0 pl-1.5 w-full absolute;
}*/
.animate-slideinRight {
  animation: slideinRight .5s;
  @apply relative;
}
@keyframes slideinRight {
  0% {
      right: -300px;
      opacity: 0;
  }
  100% {
      right: 0;
      opacity: 1;
  }
}
.animate-slideinLeft {
  animation: slideinLeft .5s;
  @apply relative;
}
@keyframes slideinLeft {
  0% {
      left: -300px;
      opacity: 0;
  }
  100% {
      leftt: 0;
      opacity: 1;
  }
}
.typing-effect {
  animation: typing 4s steps(22) infinite alternate-reverse;
  @apply w-[22ch] overflow-hidden whitespace-nowrap
}
@keyframes typing {
  from {
    width: 0ch;
  }
}
.color-effect {
  animation: color-effect 4s infinite alternate-reverse;
  @apply text-primary drop-shadow-none
}
@keyframes color-effect {
  from {
    color: var(--color-tertiary);
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
  }
}

.width-effect {
  animation: width-effect 4s infinite alternate-reverse;
}
@keyframes width-effect {
  from {
    width: 0;
    border-color: var(--color-tertiary);
  }
  to {
    width: 6rem;
    border-color: var(--color-primary);
  }
}
.home-banner {
  min-height: calc(100vh - 70px);
  @apply gap-8 py-16
}
p {
  @apply py-2 text-sm text-justify
}
blockquote {
  @apply relative before:content-['\201C'] before:text-8xl before:absolute before:left-0 before:-top-10 before:text-secondary after:content-['\201C'] after:text-8xl after:absolute after:right-0 after:-bottom-10 after:text-secondary after:rotate-180 px-12 text-justify
}
.line-after {
  @apply relative flex flex-col-reverse after:-mb-4 after:content-[''] after:absolute after:border-2 after:border-white
}
.cover-banner {
  @apply absolute w-full h-full top-0 -z-10 brightness-50 centered-2xl
}
.inner-banner {
  @apply absolute w-full h-64 lg:h-80 top-0 -z-10 brightness-50 centered-2xl
}
.page-banner {
  @apply min-h-[11rem] lg:min-h-[15rem] place-content-center
}
 .menu {
  @apply justify-center items-center gap-8 mx-auto font-bold text-black lg:text-white
 }
 .menu a:hover {
  @apply line-after after:w-8 after:left-2
 }
 .menu a:hover:after {
  left: calc(50% - 1rem);
 }
 .mobile-menu {
  @apply lg:hidden p-0
 }
 .mobile-menu svg{
  @apply fill-white
 }
 .active-menu-item {
  @apply text-primary
 }
.navbar {
  @apply inner-centered flex justify-between items-center py-4
}
.navbar-icon {
  @apply h-8 fill-white rounded-full border border-white p-1 cursor-pointer hover:scale-125
}
.nav {
  @apply z-30 sticky top-0 layout-space-x
}
.nav-sticky .nav {
  @apply bg-secondary
}
.sub-menu {
  @apply absolute lg:-ml-20 mt-4 w-full left-0 lg:left-auto lg:w-auto px-8 py-4 bg-white flex flex-col justify-center items-center z-10 shadow-lg
}
.sub-menu li {
  @apply py-2
}
.cta {
  @apply bg-primary text-white font-bold py-2 px-4 rounded-lg hover:border-primary hover:bg-tertiary hover:scale-110
}
.cta-reverse {
  @apply text-white bg-secondary border border-tertiary font-bold py-2 px-4 rounded-lg hover:bg-tertiary hover:border-tertiary hover:text-black hover:scale-110
}
.inner-cta {
  @apply bg-primary text-white font-bold py-2 px-4 rounded-lg hover:bg-dark hover:text-white hover:border-dark hover:scale-110
}
.heading1 {
  @apply font-extrabold text-3xl lg:text-5xl uppercase text-left
}
.heading2 {
  @apply font-bold text-xl lg:text-3xl uppercase
}
.heading3 {
  @apply font-bold text-lg lg:text-xl text-left
}
.paragraph1 {
  @apply text-lg lg:text-2xl
}
.booking-form {
  @apply px-4 pt-4 relative bg-transparent
}
.modal .booking-form {
  @apply w-full max-w-screen-sm
}
.float-modal {
  @apply w-10/12 h-full fixed right-0 max-w-[400px] left-auto overflow-x-auto
}
.fit-modal {
  @apply w-full h-full max-w-[90vh] max-h-[90vh] bg-transparent overflow-y-auto
}
.close-btn {
  @apply cursor-pointer absolute top-2 left-auto right-2 z-10
}
.booking-form .close-btn {
  @apply -top-2
}
.fit-modal .close-btn {
  @apply -top-6
}
.footer {
  @apply py-8 inner-centered gap-4 flex flex-col justify-center lg:flex-row lg:justify-between
}

.copyright {
  @apply flex justify-between items-center py-4 inner-centered text-xs gap-8
}
.play-btn svg {
  @apply w-48 h-48 fill-white hover:fill-tertiary
}
.parallax {
  @apply relative h-[34vh] lg:h-[67vh]
}
.swiper-button-prev, .swiper-button-next {
  @apply after:text-white
}
.page-title {
  @apply inner-centered text-white line-after color-effect
}
.page-title:after{
  @apply width-effect
}
.modal {
  @apply fixed w-full h-full top-0 left-0 z-40 items-center justify-center
}
.modal-blur {
  @apply fixed w-full h-full top-0 left-0 backdrop-blur cursor-pointer
}
.rating {
  @apply grid gap-12 md:gap-8 grid-cols-1 md:grid-cols-3 py-16 border-b-2 last-of-type:border-b-transparent
}
.rating .column {
  @apply last-of-type:md:col-span-2
}
.form {
  @apply max-w-screen-sm mx-auto
}
.range-date button {
  @apply flex items-center py-0
}